*{
   margin:0;
   padding: 0;
   box-sizing: border-box;
}
/* header  */
.header-home {
    padding-top: 15px;
}

.title {
    display: inline-block;
    font-size: 36px;
    vertical-align: top;
}
/* sfondo grigio */
.gray-background {
    background-color: lightgray;
}
/* contenitore bianco */
.container{
    background-color: white;
    margin: 0 auto;
    max-width: 980px;
    margin-top: 40px;
}
/* reset liste  */
ul,ol { 
    list-style:none;
}

h2 {
    font-size: 28px;
    font-weight: 600;
}