*{
   margin:0;
   padding: 0;
   box-sizing: border-box;
}
/* header  */
.header-home {
    padding-top: 15px;
    background-color: white;
}

.title {
    display: inline-block;
    font-size: 36px;
    vertical-align: top;
}
/* sfondo grigio */

body {
    background-color: lightgray;
}
/* contenitore bianco */
.container{
    background-color: white;
    margin: 0 auto;
    max-width: 980px;
    margin-top: 40px;
    padding: 30px; 
    border-radius: 5px;
}
/* Pulsanti */
.action {
    margin:20px ;
    border-bottom: 1px solid lightgray;
    
}

/* reset liste  */
ul,ol { 
    list-style:none;
}

h2 {
    font-size: 28px;
    font-weight: 600;
}

li {
    padding: 15px;
}
/* parole evidenziate */
.colored-word {
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.editorial {
    background-color: #45abe9;  
}
.q1-goals {
    background-color: #9c72e4;
}
.recruiting {
    background-color: #64c0a9;
}
.mobile {
    background-color: #f29e33;
}
.website {
    background-color: #d863a0;
}
.sales {
    background-color: #b0c926;
}
